*{
    border box-sizing: border box;
}

.fullCenter{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;

    background-color: rgb(102, 102, 249);
}

#formulário{
    width: 350px;
    display: flex;
    flex-wrap: wrap;

    background-color: rgb(200, 200, 252);
}